.about {

    padding: 1rem 1rem 3rem;
    line-height: 1.5;

    .profile-img {
        display: block;
        width: 40%;
        margin: 1.5rem auto 0;
    }

    .intro {
        padding: 2rem 1.5rem;

        p {
            padding: .5rem 0;
        }
    }

    .toolkit {
        padding: 0 1.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        color: $text;


        h2 {
            width: 100%;
            margin-bottom: 2rem;
            font-size: 1.2rem;
        }


        h3 {
            font-weight: 700;
            font-size: 1.1rem;
            padding-bottom: .5rem;
        }

        .adobe {
            padding-left: .5rem;
            font-weight: 300;
        }
    }


    @media screen and (min-width: $breakpoint-tablet) {

        width: 75%;
        margin: 3rem 0 0 auto;
        padding: 1rem 6.5rem 1rem;

        .toolkit {
            justify-content: space-around;

            h2 {
                text-align: center;
            }
        }
    }
}