.about {
    padding: 1rem 1.5rem 3rem;
    line-height: $line-height;

    h2 {
        margin: .5rem 0;
    }

    h3 {
        margin: .35rem 0 0;
    }

    .profile-img {
        display: block;
        width: 40%;
        margin: 2.5rem auto 0;
    }

    .intro {
        padding: 2rem 0;

        h1 {
            text-align: center;
            margin-bottom: 1rem;
        }

        p {
            padding: .5rem 0;
        }
    }

    .experience,.education {
        padding-bottom: 2rem;
    }

    .year-wrapper {
        @include flex-layout-row;
    }
    

    .toolkit {
        padding: 0;
        padding-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        color: $text;

        .design-tools {
            width: 40%;
        }


        h2 {
            width: 100%;
            margin: 2rem 0;
            font-size: 1.2rem;
            text-align: center;
        }


        h3 {
            font-weight: 700;
            font-size: 1.1rem;
            padding-bottom: .5rem;
        }

        .adobe {
            padding-left: .5rem;
            font-weight: 300;
        }
    }


    @media screen and (min-width: $breakpoint-tablet) {
        // width: 75%;
        // margin: 3rem 0 0 auto;
        // padding: 1rem 6.5rem 1rem;

        // ========== full screen ==============
        .welcome, .toolkit {
            width: 60%;
            margin: 0 auto;
            padding: 1rem 3rem 3rem;
        }
        

        .profile-img {
            width: 30%;
        }

    }
}