.about {
    padding: 0 0 3rem;
    line-height: $line-height;

    .welcome, .toolkit {
        padding: 0 1.5rem;
    }

    h2 {
        margin: .5rem 0;
    }

    h3 {
        margin: .35rem 0 0;
    }

    // Welcome section

    .welcome{
        .profile-img {
            display: block;
            width: 50%;
            margin: 2.5rem auto 0;
        }
    
        .intro {
            padding: 2rem 0;
    
            h1 {
                text-align: center;
                margin-bottom: 1rem;
                letter-spacing: 2.5px;
            }
    
            p {
                padding: .5rem 0;
    
                br {
                    content: '';
                    display: block;
                    margin-bottom: .5rem;
                }
            }
        }

    }


    // Toolkit section

    .toolkit {
        padding: 0;
        padding-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        column-gap: 3rem;
        margin: auto;
        text-align: left;
        color: $text;

        .design-tools, .dev-tools {
            padding: 0 1rem;
        }

        h2 {
            width: 100%;
            margin: 2rem 0;
            font-size: 1.2rem;
            text-align: center;
            letter-spacing: 2px;
        }

        h3 {
            font-weight: 700;
            font-size: 1.1rem;
            padding-bottom: .5rem;
        }

    }


    @media screen and (min-width: $breakpoint-tablet) {
        width: 90%;
        margin: 0 auto;
        
        .welcome {
            width: 60%;
            margin: 0 auto;
            max-width: 700px;
            padding: 1rem 3rem 1rem;

            .intro {
                margin-top: 2rem;
            }

            .profile-img {
                width: 40%;
            }
        }
        
        .toolkit {
            column-gap: 4rem;
    
            .design-tools, .dev-tools {
                padding: 0 2rem;
            }
    
        }

    }
}