footer {
    text-align: center;
    padding: 1rem 0;

    p {
        font-size: .8rem;
        padding: .5rem 0;
        color: $link;
    }

    .social-links {
        @include flex-center;

        a {
            display: block;
            width: 32px;
            height: 32px;
            padding: .5rem;
            margin: 0 .25rem;
            border-radius: 50%;
            background-color: $iconbg;

            svg {
                fill: #807f7f;
                display: block;
                margin: auto;
    
                &:hover {
                    fill: $text;
                }
            }

        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        width: 75%;
        margin: 0 auto;
        padding: 1rem 6.5rem 1rem;
    }
}