// General Styling
body {
    font-family: $body-font;
    max-width: 2000px;
    margin: 0 auto;

    h1, h2, h3, h4 {
        font-weight: 700;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h1, h2, h3, h4, p {
        color: $text;
    }

    a {
        cursor: pointer;
    }
}

// Layout
.page {
    position: relative;
    min-height: 100%;
}

.content-wrapper {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin-bottom: 2.5rem;

    // @media screen and (min-width: $breakpoint-tablet) {
    //     position: static;
    // }
}
