header {

    background-color: #fff;
    position: fixed;
    left: 0;
    right: auto;
    height: 80px;
    width: 100%;
    display: block;
    z-index: 110;

    .logo-image {
        position: fixed;
        left: 0;
        right: auto;
        width: 80px;
        padding: .5rem .5rem .5rem 1.5rem;
        margin: .5rem auto 0;
        transition: all .5s ease;

        &:hover, &:focus {
            transform: scale(1.1);
        }
    }


    @media screen and (min-width: $breakpoint-tablet) {
  
        .logo-image {
            width: 90px;
            right: auto;
        }     

    }

}

.nav-bar {
    position: relative;

    a {
        text-decoration: none;
        color: $link;
        padding: 3.5rem;
        text-align: center;
        font-weight: 700;
        display: block;
        margin: 0 auto;

        &.active, &:hover, &:focus {
            color: $text;
        }
    }

    .navigation {
        display: none;
    }

    .mobile-navigation {
        @include flex-column;
        justify-content: flex-start;
        list-style: none;
        font-size: 1.2rem;
        position: fixed;
        top: 0;
        right: -100%;
        width: 85%;
        max-width: 360px;
        background-color: #fff;
        height: 100vh;
        z-index: 90;
        transition: 850ms;

        .menu-items {
            margin-top: 6.5rem;
        }

    }

    .mobile-navigation.active {
        right: 0;
        transition: 350ms;
    }

    .menuicon, .closeicon {
        font-size: 1.8rem;
        color: $text;
        position: fixed;
        top: 2rem;
        right: 1.5rem;
        z-index: 100;
        cursor: pointer;
    }

}




