header {

    a {
        text-align: center;
        display: block;
        margin: 0 auto;

        .logo-image {
            width: 70px;
            padding: .5rem;
            margin-top: .5rem;
            transition: all .5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

    }

    .nav-bar {
        position: relative;

        a {
            text-decoration: none;
            color: $link;
            padding: 3.5rem;
            text-align: center;
            font-weight: 700;

            &.active {
                color: $text;
            }
        }

        .navigation {
            display: none;
        }

        .mobile-navigation {
            @include flex-column;
            list-style: none;
            font-size: 1.2rem;
            position: fixed;
            top: 0;
            left: -100%;
            width: 85%;
            max-width: 360px;
            background-color: #fff;
            height: 100vh;
            z-index: 90;
            transition: 850ms;

        }

        .mobile-navigation.active {
            left: 0;
            transition: 350ms;
        }

        .menuicon, .closeicon {
            font-size: 1.8rem;
            color: $text;
            text-align: left;
            position: absolute;
            top: -3.5rem;
            left: 1.5rem;
            z-index: 100;
            cursor: pointer;
        }

    }

    @media screen and (min-width: $breakpoint-tablet) {
        
        a {
            text-align: left;
            padding: .5rem 0 0 .5rem;

            .logo-image {
                position: fixed;
                margin-top: 0;
            }
        }
            
        .nav-bar {
    
            .mobile-navigation {
                display: none;
            }
        
            .navigation {
                display: block;
                position: relative;
                font-size: 1.2rem;

                ul {
                    position: fixed;
                    top: 150px;
                    left: 6%;
                    right: auto;

                }
            }
    
        }
    }
    
}


.contact-link {
    cursor: pointer;
}

