.single-project {
    line-height: $line-height;

    .content {
        padding: 0 1.5rem;
    }


    .banner {
        padding: 1rem 0;
    }

    .intro-section {
        padding: 0 1.7 5rem;

        h1 {
            padding: .5rem 0;
        }

        h2 {
            margin: 1rem 0;
        }

        .overview {
            padding-top: 1.5rem;
        }
    }

    .external-links {
        @include flex-center;

        a {
            width: 120px;
            @include btn-styling;
            text-align: center;
        }
    }

    .external-links.prototype {
        a {
            width: 250px;
        }
    }

    .project-item {
        margin: 2rem 0;

        h2 {
            margin: 1rem 0;
        }

        h3 {
            margin: .5rem 0;
        }
    }

    // Development Stack Section
    .tools {
        color: $text;
    }

    // Key Features Section
    .feature-img {
        display: block;
        width: 90%;
        max-width: 500px;
        margin: 1rem auto;
    }

    .gif {
        padding: 10% 2%;
        background-color: #F0F0F1;

    }

    // Development Process Section
    .process {
        article {
            margin-bottom: 2rem;
        }

        p {
            margin-bottom: .75rem;
        }
    }

    // bottom links
    .link-container {
        @include flex-layout-row;

        .link-item {
            @include link-styling;
            display: flex;
            align-items: center;
            align-content: center;
            margin: 0;
            
            svg {
                fill: $link;
                font-size: .7rem;
                margin: 0 .25rem;

            }

            &:hover {
                fill: $text;
            }
        }

    }

   
    @media screen and (min-width: $breakpoint-tablet) {

        .content {
            padding: 1rem 1.5rem;
        }
    
        .banner {
            padding: 1rem 1.5rem;
        }

        .link-container {
            margin-right: 1.5rem;
        }

        .features {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 5rem;
            grid-row-gap: .5rem;

            h2 {
                grid-column: span 2;
            }

            p {
                padding-bottom: .5rem;
            }

            .text {
                padding-bottom: 1.8rem;
            }


        }

   
    }

}

@media screen and (min-width: $breakpoint-tablet) {

    .single-project-page {
        header .nav-bar .navigation {
            display: none;
        }
    }

    .single-project {
        width: 90%;
        margin: 4rem auto 0;
        padding: 1rem 6.5rem 1rem;

        .banner {
            padding: 1rem 1.5rem;
        }
    }

}