.work {
    padding: 1rem 0 3rem;
    line-height: $line-height;

    .project-container {
        margin: 2rem auto;
        border-radius: 20px;
        padding: .5rem 1.5rem;

       .project-info {
           @include flex-layout-row;
           padding: .75rem .5rem;

           .project-details {
               padding-left: .25rem;

               .overview{
                margin: 1rem 0;
            }
           }

       }

       .project-link {
           @include btn-styling;
           text-align: center;
           width: 120px;
           margin: 0;

           p {
               color: #fff;
               font-weight: 700;
           }
       }
   
    }

    @media screen and (min-width: $breakpoint-tablet) {
        width: 90%;
        margin: 0 auto;

        .project-container {
            display: grid;
            grid-template-columns: 1fr .9fr;
            width: 90%;

            .project-image {
                width: 90%;
                align-self: center;
                justify-self: center;
            }

            .project-info {
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;

                .project-link {
                    margin: 1rem 0;
                }

                .project-details {
                    padding-left: .5rem;
                }
            }
        }
    }
}


  